@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box; }

:root {
  --color-accent: hsl(277, 64%, 61%);
  --color-accent-bg: rgba(277, 64%, 61%, .3);
  --color-main-background: hsl(233, 47%, 7%);
  --color-card-background: hsl(244, 38%, 16%);
  --text-color-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --text-color-stats-headings: hsla(0, 0%, 100%, 0.6);
  --text-color-white: hsl(0, 0%, 100%); }

html {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit; }

.container {
  height: 80vh;
  width: 80vw;
  margin: auto;
  margin-top: 7rem;
  background-color: var(--color-main-background);
  border: 10px solid red;
  display: flex;
  justify-content: center;
  align-items: center; }

.content {
  height: 50%;
  width: 60%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center; }

.text-side {
  height: 100%;
  width: 50%;
  background-color: var(--color-card-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px 0 0 4px; }

.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center; }

.picture-side {
  height: 100%;
  width: 50%;
  background-image: linear-gradient(rgba(238, 130, 238, 0.5), rgba(238, 130, 238, 0.5)), url(../images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.header {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header__saying {
    background-color: var(--color-card-background);
    color: var(--text-color-white);
    font-size: 2rem;
    width: 81%; }
    .header__saying-span {
      color: var(--color-accent);
      font-size: inherit; }
  .header__paragraph {
    color: var(--text-color-main-paragraph);
    width: 81%;
    line-height: 1.5rem; }

.stats__col-number {
  color: var(--text-color-white); }

.stats__col-text {
  color: var(--text-color-stats-headings);
  margin-top: -.5rem; }
