// THIS IS THE OVERALL HIGH LEVEL LAYOUT STYLING WITH 3 SECTIONS - TEXT SIDE WITH HEADER AND STATS AND THEN PICTURE SIDE
.container {
    height: 80vh;
    width: 80vw;
    margin: auto;
    margin-top: 7rem;
    background-color: var(--color-main-background);
    border: 10px solid red; // NEED TO DELETE WHEN DONE
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 50%;
    width: 60%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center; 
    // border: 3px solid green;  // NEED TO DELETE WHEN DONE
}

.text-side {
    height: 100%;
    width: 50%;
    background-color: var(--color-card-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px 0 0 4px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.picture-side {
   height: 100%; 
   width: 50%;
   background-image: linear-gradient(rgba(violet,.5), rgba(violet,.5)), url(../images/image-header-desktop.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}